{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Management System</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>

    <div class="container mt-5">
        <!-- Merged Navigation Bar -->
        <nav class="navbar navbar-expand-lg  bg-primary">
            <a class="navbar-brand p-2" href="/">AMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Master Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMaster" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Master
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMaster">
                            <li><a class="dropdown-item" href="{% url 'category' %}">Category</a></li>
                            <li><a class="dropdown-item" href="{% url 'sub_category' %}">Sub Category</a></li>
                            <li><a class="dropdown-item" href="{% url 'department' %}">Department</a></li>
                            <li><a class="dropdown-item" href="{% url 'location' %}">Location</a></li>
                        </ul>
                        
                    </li>
    
                    <!-- Transaction Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTransaction" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Transaction
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownTransaction">
                            <li><a class="dropdown-item" href="/assets/">Asset Creation</a></li>
                            <li><a class="dropdown-item" href="/inventory/product/">Asset Edit</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    

        <!-- Content Block where child templates will inject their content -->
        {% block content %}
        {% endblock %}

    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>                                                                                             
</html>
